
    <div class="day-detail well">

      <div class="row">
        <center>
          <div class="day-detail-header">
            DATE ETC
          </div>
        </center>
      </div>

      <div class="day-detail-image">
      </div>
      <div class="day-detail-details">
      </div>


    </div>
  </center>
</div>