// Place all the styles related to the Days controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#app{
  height: 100%;
  width:100%;
}


html, body{
  height: 100%;
  width:100%;
}
#app{
  height: 100%;
  width:100%;
}
.day-detail{
  height:350px;

}
.week-detail{
  position:relative;
  height:350px;
  border: 2px solid black;
  border-radius: 10px;
  /*padding-left: 5%;*/
  padding-top: 3%;
}

.day-tile{
  display:inline-block;
  height:90%;
  width: 12%;
  margin-left: 5px;
  border: 2px solid black;
  border-radius: 5px;
  overflow: auto;
}

.tile-header{
  height:10%;
  padding-top: 3%;
  border-bottom: 2px solid black;
}

.day-tile-image {
  height:45%;
  border-bottom: 2px solid black;
}

.day-tile-details {
  height:45%;
  padding:2px;
  background-color: grey;
}

.day-detail{
  height:350px;
  padding-bottom:20px;
}

.day-detail-image{
  display: inline-block;
  border-top: 2px solid black;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  height:95%;
  width: 30%;
  margin-right: 0px;
}

.day-detail-details{
  display: inline-block;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 1px solid black;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  height:95%;
  width: 67%;
  margin-left:0;

}

.day-detail-header{
  margin-bottom:-5px;
  position: relative;
  top:-10px;
}
