#app {
    height: 100%;
    width: 100%;
}
body {
    background-image: url('http://i.giphy.com/poXx4aQzjwoV2.gif');
    background-size: cover;
}

@keyframes colorchange {
    0% {
        color: #1940FF
;
    }
    12.5% {
        color: #3356FF
;
    }
    25% {
        color: #4C6BFF
;
    }
    50% {
        color: #6680FF;
    }
    62.5% {
        color: #7F95FF;
    }
    75% {
        color: #6680FF
;
    }
    87.5% {
        color: #4C6BFF
;
    }
    100% {
        color: #3356FF
;
    }
}

@-webkit-keyframes colorchange
{
    0% {
        color: #1940FF
;
    }
    12.5% {
        color: #3356FF
;
    }
    25% {
        color: #4C6BFF
;
    }
    50% {
        color: #6680FF;
    }
    62.5% {
        color: #7F95FF;
    }
    75% {
        color: #6680FF
;
    }
    87.5% {
        color: #4C6BFF
;
    }
    100% {
        color: #3356FF
;
    }
}
html,
body {
    height: 100%;
    width: 100%;
}
.app-name {
    color: white
}
.icon {
    margin-right: 10px;
    margin-top: 25%;
    font-size: 4em;
}
.week-detail {
    height: 350px;
    width:100%;
    max-width:1200px;
    border-radius: 0 0 10px 10px;
    padding-top: 3%;
    background-color: white;
    overflow-x:scroll;
    white-space:nowrap;
    margin-bottom:10px;
    margin-top:10px;
}


.day-tile {
    display: inline-block;
    height: 90%;
    width: 142px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: white;
    border-left: 2px solid black;
    border-right: 2px solid black;

}
.tile-header {
    height: 10%;
    padding-top: 1.5%;
    border-bottom: 2px solid black;
    font-weight: 900;
    letter-spacing: 2.5px;
    font-size: 1.2em;
    color: white;
    background-color: black;
}
.day-tile-image {
    height: 45%;
    border-bottom: 2px solid black;
}

.day-tile-details {
    height: 45%;
    padding: 2px;
    background-color: black;
}
h5,
h6 {
    color: white;
}
.day-detail-container {
    width:100%;
    max-width:1200px;
    border-radius: 10px 10px 0 0;
    margin-bottom:20px;
    background-color:white;
    height:100%;
}

.day-detail-image {
    border-right:2px solid black;
    border-bottom:2px solid black;
    height:300px;
}

.big-icon {
    z-index: 0;
    font-size: 10em;
    margin-top: 40px;
    margin-left: 10px;
    animation: colorchange 20s infinite;
    -webkit-animation: colorchange 20s infinite;
}

.time {
    animation: colorchange 20s infinite;
    -webkit-animation: colorchange 20s infinite;
    margin-left: 10%;
}

.day-tile-image i {
    animation: colorchange 20s infinite;
    -webkit-animation: colorchange 20s infinite;
}

.day-detail-details {
    height:325px;
}

.day-detail-header {
    font-weight: 900;
    letter-spacing: 2.5px;
    font-size: 1.2em;
    height:25px;
    border-bottom:2px solid black;
}

.hour-tile {
    padding-top:10px;
    display:inline-block;
    height:105px;
    width: 71.5px;
    color: white;
}
.hour-tile i {
    font-size: 1.5em;
    z-index: 0;
}
.hour-tile p {
    z-index: 1;
}
.hour-tile p:first-of-type {
    text-decoration: underline;
}

.hour-container {
    height: auto;
    background-color:black;
    overflow-x:auto;
    white-space:nowrap;
    overflow-y:hidden;
}

.day-icon {
    font-size: 2em;
    margin-right: 5px;
    animation: colorchange 20s infinite;
    -webkit-animation: colorchange 20s infinite;
}

.tile-temp {
margin-top:5px;
}

.day-data-container {
  padding-top:2.5%;
  background-color:white;
  overflow-y:scroll;
  height:60%;
}
.day-data {
  display:inline-block;
  font-weight: 900;
  white-space:nowrap;
  height:70px;
}
.small-icon {
    font-size: 1.2em;
}
.alert-container {
    height: auto;
    overflow: hidden;
    background-color:white;
}
.warning-null {
    font-size: 1.2em;
    font-weight: 900;
}

#alert{
  border:none;
  z-index: 1;
  position:relative;
  overflow:hidden;
}
.summary {
    font-weight: 900;
    font-size: 2em;
    margin-top: 20px;
}

@media (max-width: 994px) {
  .alert-container{
    clear:both;
    margin:auto;
  }
  .day-detail-image{
  }
  .big-icon{
    margin-top:0px;
    font-size:7em;
  }
  .day-data{
    height:60px;
  }
  .day-data-container{
  height:60%;
  }
  .hour-container{
  padding-top:-5px;
  }


}

@media (max-width: 768px) {
  body{
  padding:20px;
  }
  .day-detail-image{
    height:60%;
    border-right:none;
    border-bottom:2px solid black;
  }
  .day-detail-container{
  }
  .big-icon{
    font-size:7em;
  }

  .day-data{
    font-size:.7em;
    margin-top:10px;
    padding-left:0px;
    padding-right:0px;
    margin:0 5px 0 5px;
  }
  .day-data-container{
  padding-left:0px;
  padding-right:0px;
  padding-top:10px;
  overflow:hidden;
  }

  .week-detail{
  height:200px;
  float:left;
  }
  .week-detail:after{
  clear:both;
  }
  .day-tile{
  height:90%;
  width:90px;
  overflow:none;
  }
  .day-tile-image{
  font-size:.7em;
  margin-left:5px;
  border:none;
  overflow:hidden;
  }

  .day-tile-details{
  border:none;
  }
  .day-detail-header{
    height:30px;
    padding:5px;
    font-size:.9em
    }
    .tile-header{
    font-size:.75em;
    }
    .day-tile h6:first-of-type{
    display:none;
    }
    .day-detail-container{
    }



}
@media (max-width:992px){
  .day-data-container{
  padding-top:30px;
  }
}

